*, select, option {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 11pt;
  line-height: 4ex;
}
h1 {
  text-align: right;
  font-size: 120%;
}

.button {
  border-color: #d8d8d8 #d1d1d1 #bababa;
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: rgb(244,244,244);
  box-sizing: border-box;
}

button {
  @extend .button;
}

button.add {
  line-height: 2.5ex;
  margin-left: 0.2em;
}

form {
  max-width: 720px;
  margin: auto
}

section {
  margin-top: 2ex;
}

.field {
  display: flex;
  align-content: center;
  box-sizing: border-box;
  flex-direction: row;
  margin-bottom: 1ex;
  
  label, select, input, > div {
    flex: 1;
  }

  input {
    padding-left: 0.5em;
    margin-left: 0.5em;
  }

  > div {
    display: flex;
    flex-direction: column;
    > * {
      flex: 1
    }
    > div {
      display: flex;
    }
    > div > * {
       flex: 1
    }
  }

  select, input {
    border: solid 1px #ddd;
    border-radius: 1ex;
  }
}

fieldset {
  margin-top: 2ex;
  padding: 0 1em 1em 1em;
  page-break-before: auto;
  page-break-inside: avoid;
  border: solid 1px #adadad;
  border-radius: 7px;

  legend {
    // background: #ededed;
    padding: 0.3em 1.0em;
    margin: 1em 0 0.5em 1em;
    width: 180px;
    position: relative;
    &:before{
      content: "";
      background: #ededed;
      height: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      top:0;
      left: 5px;
      width: calc(100% - 5px);
      transform: skewX(-15deg);
    }
    &:after{
      content: "";
      background: #ededed;
      height: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      top:0;
      left: 0px;
      width: calc(100% - 5px);
    } 
  }

    fieldset {
      legend {
        width: 120px;
        position: relative;
        // background: #ededed;
        
        &:before{
          content: "";
          background: #ededed;
          height: 100%;
          display: block;
          position: absolute;
          z-index: -1;
          top:0;
          right: 0px;
          width: calc(100% - 5px);
          transform: skewX(0deg);
          // display: none;
        }
        &:after{
          content: "";
          background: #ededed;
          height: 100%;
          display: block;
          position: absolute;
          z-index: -1;
          top:0;
          right: 5px;
          width: calc(100% - 5px);
          transform: skewX(-15deg);
          // display: none;
        } 
      }
    }

}

.indent-1 {
  margin-left: 2em;
  margin-top: 1ex;
  margin-bottom: 2ex;
}

div.space-top {
  margin-top: 1ex
}

label.space-left {
  margin-left: 1em;
}


input[type=checkbox], input[type=radio] {
  transform: scale(1.2);
  margin-right: 0.5em;
}

input[type=checkbox]:checked {
  color: green;
}

div.cols-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  > div {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    width: 250px;
  }
}

input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
  position: relative;
	z-index: -1;
  + label {
    display: inline-block;
    @extend .button;
  }
}

.buttons-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  > button, label {
    margin-left: 1em;
    min-width: 120px;
  }
  
}

@media print {
  .buttons-bar, button {
    display: none;
  }

}